#FC24002 {
    width: 820px;
    max-width: 100%;
    padding: 28px;
    margin: 25px ;
    border: 2px solid #ff1a1a;
    border-radius: 18px;
    background: linear-gradient(135deg, #000000, #1a0000, #000000);
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    box-shadow:
        0 0 10px #ff1a1a,
        0 0 25px rgba(255, 26, 26, 0.5),
        0 0 45px rgba(255, 255, 255, 0.12);
}

#FC24002 h2 {
    color: #ffffff;
    text-shadow: 0 0 8px #ff1a1a, 0 0 18px rgba(255, 26, 26, 0.8);
    margin-bottom: 8px;
    letter-spacing: 1px;
}

#FC24002 p {
    color: #f2f2f2;
    line-height: 1.6;
}

#FC24002 strong {
    color: #ff4d4d;
}
#NM24005 {
    width: 340px;
    padding: 25px;
    margin: 25px;
    border: 2px solid #ff4fd8;
    border-radius: 18px;
    background: linear-gradient(135deg, #28104e, #47126b, #1b3a57);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    box-shadow:
        0 0 10px #ff4fd8,
        0 0 20px rgba(0, 255, 255, 0.4);
}

#NM24005 h2 {
    color: #ff7bd5;
    text-shadow: 0 0 8px #ff4fd8;
    margin-bottom: 8px;
}

#NM24005 p {
    color: #d9faff;
    line-height: 1.5;
}

#RZ23010 {
    width: 340px;
    padding: 25px;
    margin: 25px;
    border: 2px solid #39ff14;
    border-radius: 18px;
    background: linear-gradient(135deg, #000000, #0a1f0a, #000000);
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;

    box-shadow:
        0 0 10px #39ff14,
        0 0 25px rgba(57, 255, 20, 0.5),
        0 0 45px rgba(255, 255, 255, 0.12);
}

#RZ23010 h2 {
    color: #ffffff;
    text-shadow: 0 0 8px #39ff14, 0 0 18px rgba(57, 255, 20, 0.8);
    margin-bottom: 8px;
    letter-spacing: 1px;
}

#RZ23010 p {
    color: #e6ffe6;
    line-height: 1.5;
}

#RZ23010 strong {
    color: #6dff6d;
}